services:
  frontend:
    build: .
    container_name: meridyn-admin
    ports:
      - "3002:80"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - HOST=0.0.0.0